<div class="backdrop-movie is-hidden" data-modal>
    <button type="button" class="modal-close__btn">
        <svg class="button-vector" width="30" height="30">
            <use href="/src/images/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <div class="modal">
        
        <!-- 
        <div class="modal-conteiner">
            <div class="modal-container__banner">
                <img class="modal-container__img" src="https://image.tmdb.org/t/p/w500${data.poster_path}"
                    alt="Banner of the selected film">
            </div>
            <div class="modal-container__row">
                <table class="modal-table">
                    <caption class="modal-table__title">${data.title}</caption>
                    <tr class="table__row">
                        <td class="table__description">Vote / Votes</td>
                        <td class="table__data"><span class="table-data__raiting">${data.vote_average}</span> / <span
                                class="table-data__scores">${data.vote_count}</span></td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__description">Popularity</td>
                        <td class="table__data">${data.popularity}</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__description">Original Title</td>
                        <td class="table__data">${data.original_title}</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__description">Genre</td>
                        <td class="table__data">${data.genre_ids}</td>
                    </tr>
                </table>
                <p class="modal-container__title">ABOUT</p>
                <p class="modal-title__description">${data.overview}</p>
                <div class="modal-conteiner__btn">
                    <button type="button" class="modal-conteiner__first-btn">add to Watched</button>
                    <button type="button" class="modal-conteiner__second-btn">add to queue</button>
                </div>
            </div> -->
        </div>
    </div>

</div>
</div>