<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Our Team</h3>
          <a class="close">x</a>
      </div>
      <div class="modal-body">
        <ul class="team-list">
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Eugene_Shako.jpg" alt="dev-photo"></img>
            <h3>Eugene Shako</h3>
            <p>Team Lead</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Taras_Ragimov.jpg" alt="dev-photo"></img>
            <h3>Taras Ragimov</h3>
            <p>Scrum master</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Anna_Datsiuk.jpg" alt="dev-photo"></img>
            <h3>Anna Datsiuk</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Bohdan_Ses.jpg" alt="dev-photo"></img>
            <h3>Bohdan Ses</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Kartavchenko_Illia.jpg" alt="dev-photo"></img>
            <h3>Illia Kartavchenko</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Pozniakov_Vitalii.jpg" alt="dev-photo"></img>
            <h3>Vitalii Pozniakov</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Iryna_Hordiichukо.jpg" alt="dev-photo"></img>
            <h3>Iryna Hordiichuk</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/team-modal/Vladimir_Klapan.jpg" alt="dev-photo"></img>
            <h3>Volodymyr Klapan</h3>
            <p>Developer</p>
            <li class="team-card">
              <img class="team-photo" src="./images/team-modal/Anastasia_Nedbai.jpg" alt="dev-photo"></img>
              <h3>Anastasia Nedbai</h3>
              <p>Developer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>