<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Our Team</h3>
        <a class="close">x</a>
      </div>
      <div class="modal-body">
        <ul class="team-list">
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Team Lead</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Scrum master</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Developer</p>
          </li>
          <li class="team-card">
            <img class="team-photo" src="./images/footer/product_designer_md.jpg" alt=""></img>
            <h3>Name SecondName</h3>
            <p>Developer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>