.collection {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 320px;

    @media screen and (max-width: $tablet) {
        max-width: 480px;

    }

    @media screen and (min-width: $tablet) {
        padding-bottom: 60px;
        padding-top: 60px;
        width: 768px;
    }

    @media screen and (min-width: $desktop) {

        width: 1280px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
}


@media screen and (max-width: $tablet) {
    .card {
        padding-bottom: 20px;
        width: 280px;

        &__img {
            height: 402px;
        }
    }
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
    .card {
        padding-bottom: 32px;
        width: 336px;
        margin-right: 16px;

        &__img {
            height: 455px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .card {
        padding-bottom: 32px;
        width: 395px;
        margin-right: 16px;

        &__img {
            height: 574px;
        }

    }
}


.card {

    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 16px;
    height: 100%;
    transform: scale(100%);
    border-radius: 5px;

    &:hover,
    &:focus {

        // box-shadow: (0px 0px 40px 1px #f0ccb3);
        opacity: 0.9;
        transform: scale(99%);
        transition: transform 250ms ease;
        z-index: 100;
    }

    &__link {
        margin: 0;
        // cursor: default

    }

    &__img {
        border-radius: 5px;



    }

    &__title {
        margin-top: 10px;

        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        color: #000000;

        @media screen and (min-width: $tablet) {
            margin-top: 8px;
            font-size: 20px;
            text-transform: uppercase;
        }

        @media screen and (min-width: $desktop) {
            margin-top: 12px;
        }
    }

    &__data {
        display: flex;
        flex-wrap: wrap;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        color: #FF6B08;

        @media screen and (min-width:$tablet) {
            font-size: 20px;
        }
    }

}