.hidden {
  visibility: hidden;
}

.pagination__root {
  margin-top: 10px;
  margin-bottom: 160px;
}

.pagination__wrap {
  display: flex;
  justify-content: center;
  &--carrousel {
    display: block;
    position: relative;
    overflow: hidden;
    width: 225px;
  }
}

.pagination__carrousel {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;

  transform: translatex(0px);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pagination__item {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  padding-top: 12px;
  background-color: #ffffff;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-align: center;
  cursor: pointer;

  &--carrousel {
    flex-shrink: 0;
  }
}

.pagination__wrap--dots {
  display: flex;
  position: relative;
}

.pagination__dots {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  padding-top: 8px;

  background-color: #ffffff;
  position: absolute;
  &--left {
    left: 0px;
  }
  &--right {
    right: 0px;
  }
}

.pagination__item-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;

  &--left {
    background-image: url('../images/arrow-left.png');
  }
  &--right {
    background-image: url('../images/arrow-right.png');
  }
}
