.pagination__root {
  margin-top: 10px;
  margin-bottom: 160px;
}

.pagination__wrap {
  display: flex;
  justify-content: center;
  &--carrousel {
    display: block;
    position: relative;
    overflow: hidden;
    width: 220px;
  }
}

.pagination__carrousel {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;

  transform: translatex(0px);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: translatex(-45px);
  }
}

.pagination__item {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: tomato;

  &--carrousel {
    flex-shrink: 0;
  }
}

.pagination__wrap--dots {
  display: flex;
  position: relative;
}

.pagination__dots {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: tomato;
  position: absolute;
  &--left {
    left: 0px;
  }
  &--right {
    right: 0px;
  }
}
